 <!doctype html>
 <html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
 <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="partyCommittee/css/common.css">
   <link rel="stylesheet" href="partyCommittee/css/main.css">
   <script type="text/javascript" src="partyCommittee/js/jquery.min.js"></script>
   <script type="text/javascript" src="partyCommittee/js/colResizable-1.3.min.js"></script>
   <script type="text/javascript" src="partyCommittee/js/common.js"></script>
   
   <script type="text/javascript">
      $(function(){  
        $(".list_table").colResizable({
          liveDrag:true,
          gripInnerHtml:"<div class='grip'></div>", 
          draggingClass:"dragging", 
          minWidth:30
        }); 
        
      }); 
   </script>
   <title>Document</title>
 </head>
 <body>
  <div class="container">
     <div class="main_top">
     <div id="table" class="mt10">
        <div class="box span10 oh">
              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
                <tr>
                   <th width="17%">问卷编号</th>
                   <th width="17%">问卷名称</th>
                   <th width="17%">问卷类型</th>
                   <th colspan="3">问卷操作</th>
                    </tr>
                <tr th:each="survey:${surveys}" class="tr" align="center" height="50ox">
                   
                   <td th:text="${survey.id}"></td>
                   <td th:text="${survey.name}">党员收入调查问卷</td>
                   <td th:text="${survey.type}">生活类</td>
                   <td><a href="/sfa">发布</a></td>
                    <td><a th:href="@{squestion(id=${survey.id})}">添加试题</a></td>
                   <td><a href="#">下架试卷</a></td>
                 </tr>
              </table>
              <div class="page mt10" align="center">
                <div class="pagination">
                  <ul>
                      <li class="first-child"><a href="#">首页</a></li>
                      <li class="disabled"><span>上一页</span></li>
                      <li class="active"><span>1</span></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">下一页</a></li>
                      <li class="last-child"><a href="#">末页</a></li>
                  </ul>
                </div>

              </div>
        </div>
     </div>
     </div>
  </div>
 </body>
 </html>
  