 <!doctype html>
 <html lang="zh-CN">
 <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="../partyCommittee/css/common.css">
   <link rel="stylesheet" href="../css/main.css">
   <script type="text/javascript" src="../partyCommittee/js/jquery.min.js"></script>
   <script type="text/javascript" src="../partyCommittee/js/colResizable-1.3.min.js"></script>
   <script type="text/javascript" src="../partyCommittee/js/common.js"></script>

   <link rel="stylesheet" href="../partyCommittee/css/common.css">
   <link rel="stylesheet" href="../partyCommittee/css/main.css">
   <script type="text/javascript" src="../partyCommittee/js/jquery.min.js"></script>
   <script type="text/javascript" src="../partyCommittee/js/colResizable-1.3.min.js"></script>
   <script type="text/javascript" src="../partyCommittee/js/common.js"></script>
   
   <script type="text/javascript">
      $(function(){  
        $(".list_table").colResizable({
          liveDrag:true,
          gripInnerHtml:"<div class='grip'></div>", 
          draggingClass:"dragging", 
          minWidth:30
        }); 
        
      }); 
   </script>
   <title>Document</title>
 </head>
 <body>
  <div class="container">
       

    <div id="search_bar" class="mt10">
       <div class="box">
          <div class="box_border">
            <div class="box_top"><b class="pl15">搜索</b></div>
            <div class="box_center pt10 pb10">
              <table class="form_table" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>题干:</td>
                  <td>
					  <input type="text" name="name" class="input-text lh25" size="150">
				  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
    </div>
     <div id="table" class="mt10">
        <div class="box span10 oh">
              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
                <tr>
				   <th width="30">#</th>
                   <th width="100">序号</th>
                   <th width="400">题干</th>
                   <th width="400">选项</th>
                   <th width="100" >答案</th>
                   <th width="100" >操作</th>
                </tr>
                 <tr class="tr">
                    <td class="td_center"><input type="checkbox"></td>
                    <td>1</td>
                    <td>十八大是什么？</td>
                    <td>A:精神&nbsp;&nbsp;B:精神&nbsp;&nbsp;C:精神&nbsp;&nbsp;D:精神</td>
                    <td>A</td>
					<td>
						<input type="button" class="ext_btn ext_btn_success" value="修改">
						<input type="button" class="ext_btn ext_btn_error" value="删除">
					</td>
                  </tr>
                 <tr class="tr">
                    <td class="td_center"><input type="checkbox"></td>
                    <td>1</td>
                    <td>十八大是什么？</td>
                    <td>A:精神B:精神C:精神D:精神</td>
                    <td>A</td>
					<td>
						<input type="button" class="ext_btn ext_btn_success" value="修改">
						<input type="button" class="ext_btn ext_btn_error" value="删除">
					</td>
                  </tr>
                <tr class="tr">
                   <td class="td_center"><input type="checkbox"></td>
                   <td>1</td>
                   <td>十八大是什么？</td>
                   <td>A:精神B:精神C:精神D:精神</td>
                   <td>A</td>
                   <td>
					   <input type="button" class="ext_btn ext_btn_success" value="修改">
					   <input type="button" class="ext_btn ext_btn_error" value="删除">
				   </td>
                 </tr>
              </table>
              <div class="page mt10">
                <div class="pagination">
                  <ul>
                      <li class="first-child"><a href="#">首页</a></li>
                      <li class="disabled"><span>上一页</span></li>
                      <li class="active"><span>1</span></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">下一页</a></li>
                      <li class="last-child"><a href="#">末页</a></li>
                  </ul>
                </div>
              </div>
        </div>
     </div>
     
     
      
     <div id="forms" class="mt10">
        <div class="box">
          <div class="box_border">
            <div class="box_top"><b class="pl15">表单</b></div>
            <div class="box_center">
              <form action="" class="jqtransform">
               <table class="form_table pt15 pb15" width="100%" border="0" cellpadding="0" cellspacing="0">
                 <tr>
                  <td class="td_right">题干：</td>
                  <td class=""> 
                    <input type="text" name="name" class="input-text lh30" size="150">
                  </td>
                </tr>
				<tr>
					 <td class="td_right">选项A：</td><td><input type="text" name="name" class="input-text lh30" size="150"></td>
				</tr>
				<tr>
					 <td class="td_right">选项B：</td><td><input type="text" name="name" class="input-text lh30" size="150"></td>
				</tr>
				<tr>
					 <td class="td_right">选项C：</td><td><input type="text" name="name" class="input-text lh30" size="150"></td>
				</tr>
				<tr>
					 <td class="td_right">选项D：</td><td><input type="text" name="name" class="input-text lh30" size="150"></td>
				</tr>
                 <tr>
                  <td class="td_right">答案：</td>
                  <td class="">
                    <input type="radio" name="status"> A
                    <input type="radio" name="status"> B
                    <input type="radio" name="status"> C
                    <input type="radio" name="status"> D
                  </td>
                 </tr>
                 <tr>
                   <td class="td_right">&nbsp;</td>
                   <td class="">
                     <input id="submit"  type="button" name="button" class="btn btn82 btn_save2" value="保存"> 
                    <input type="button" name="button" class="btn btn82 btn_res" value="重置"> 
                   </td>
                 </tr>
               </table>
               </form>
            </div>
          </div>
        </div>
     </div>
   </div> 
 </body>
 </html>
  