 <!doctype html>
 <!doctype html>
 <html lang="zh-CN">
 <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="../css/common.css">
   <link rel="stylesheet" href="../css/main.css">
   <script type="text/javascript" src="../js/jquery.min.js"></script>
   <script type="text/javascript" src="../js/colResizable-1.3.min.js"></script>
   <script type="text/javascript" src="../js/common.js"></script>
   
   <script type="text/javascript">
      $(function(){  
        $(".list_table").colResizable({
          liveDrag:true,
          gripInnerHtml:"<div class='grip'></div>", 
          draggingClass:"dragging", 
          minWidth:30
        }); 
        /* 查看全部党支部 */
      }); 
   </script>
   <title>Document</title>
 </head>
 <body>
 

        
     <div id="table" class="mt10" >
		 
		 <div class="box_top"><b class="pl15">全部党支部 <a href="department_add.html" style="padding-left:80%;"><input type="button" name="button" class="btn btn82 btn_add" value="新增"></a></b></div>
        <div class="box span10 oh" align="center">
              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table" style="text-align: center;" >
                <tr >
                 
                   <th width="30">党支部</th>
                   <th width="100">简介</th>
				    <th width="30">操作</th>
                    </tr>
                <tr class="tr">
                
                   <td>第一党支部</td>
				   <td> <textarea name="" id="" cols="30" rows="10" class="textarea" disabled="disabled">简介</textarea></td>
				   <td><a href="department_update.html"><input type="button"  class="btn btn82 btn_save2"  value="修改"> </a>
				   <input type="button"  class="btn btn82 btn_save2"  value="删除">
				   </td>
                
                 </tr>
				 <tr class="tr">
				 
				    <td>第二党支部</td>
				    <td> <textarea name="" id="" cols="30" rows="10" class="textarea" disabled="disabled">简介</textarea></td>
				    <td><input type="button"  class="btn btn82 btn_save2"  value="修改"> 
				    <input type="button"  class="btn btn82 btn_save2"  value="删除">
				    </td>
				 
				  </tr>
				  <tr class="tr">
				  
				     <td>第三党支部</td>
				     <td> <textarea name="" id="" cols="30" rows="10" class="textarea" disabled="disabled">简介</textarea></td>
				     <td><input type="button"  class="btn btn82 btn_save2"  value="修改"> 
				     <input type="button"  class="btn btn82 btn_save2"  value="删除">
				     </td>
				  
				   </tr>
                 
              
              </table>
              <div class="page mt10">
                <div class="pagination">
                  <ul>
                      <li class="first-child"><a href="#">首页</a></li>
                      <li class="disabled"><span>上一页</span></li>
                      <li class="active"><span>1</span></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">下一页</a></li>
                      <li class="last-child"><a href="#">末页</a></li>
                  </ul>
                </div>

              </div>
        </div>
     </div>
     
 </body>
 </html>
  