<html>
<head>
    <title>聊天室</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/partyMember/css/chat.css" rel="stylesheet">

</head>

<body class="box">

<div class="leftbar" >
<!--做其他的聊天室的拓展-->
    <ul>
         <li><i class="fas fa-user">其他聊天室
         </i></li>
         <li><i class="fas fa-users"></i></li>
         <li><i class="fas fa-smile"></i></li>
         <li><i class="fas fa-envelope"></i></li>
         <li><i class="fas fa-bell"></i></li>
         <li><i class="fas fa-calendar-alt"></i></li>
         <li><i class="fas fa-power-off"></i></li>
     </ul>
</div>

<div class="container">
    <div class="chatbox">
        <div class="chatleft">
            <div class="center">
                <ul id="userList">

                </ul>
            </div>
        </div>
        <div class="chatright">
            <div class="top">
                <img style="border-radius: 20px; vertical-align: middle;" src="http://placehold.it/40x40">
                <!--聊天室的名字-->
                <span style="margin-left: 20px;" id="me">xx聊天室</span>
                <i class="fas fa-ellipsis-v" style="font-size: 1.4em; position: absolute; right: 20px; color: gray;"></i>
            </div>
            <div class="center">
                <ul id="msgList">

                </ul>
            </div>
            <div class="footer">
               <!-- <div style="background-color: #ec0327;">加表情或截图的工具如果，不加把上面的显示聊天记录高+10%</div>-->
                <textarea id="msg" maxlength="800" rows="5" cols="40" style="width: 100%;height: 60%; resize: none; border: none; " placeholder="请在此输入要发送的内容..."></textarea>
                <button class="sendbtn" onclick="chat()">发送</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>