 <!doctype html>
 <!doctype html>
 <html lang="zh-CN">
 <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="../partyCommittee/css/common.css">
   <link rel="stylesheet" href="../partyCommittee/css/main.css">
   <script type="text/javascript" src="../partyCommittee/js/jquery.min.js"></script>
   <script type="text/javascript" src="../partyCommittee/js/colResizable-1.3.min.js"></script>
   <script type="text/javascript" src="../partyCommittee/js/common.js"></script>
  
   		<script type="text/javascript"src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
   		<script>
   			$(function(){
   			$("#upd").click(function(){
   				alert("确认修改？")
   			
   			})})
   		</script>
		
   <script type="text/javascript">
      $(function(){  
        $(".list_table").colResizable({
          liveDrag:true,
          gripInnerHtml:"<div class='grip'></div>", 
          draggingClass:"dragging", 
          minWidth:30
        }); 
        
      }); 
   </script>
   <title>Document</title>
 </head>
 <body>
  
    
     <div id="forms" class="mt10">
        <div class="box">
          <div class="box_border">
            <div class="box_top"><b class="pl15">修改党员信息</b></div>
            <div class="box_center">
              <form action="" class="jqtransform">
               <table class="form_table pt15 pb15" width="100%" border="0" cellpadding="0" cellspacing="0" >
                 <tr>
                  <td class="td_right">姓名：</td>
                  <td class=""> 
                    <input type="text" name="name" class="input-text lh30" size="40">
                  </td>
				  <td class="td_right">性别：</td>
				  <td class=""> 
				    <input type="text" name="name" class="input-text lh30" size="40">
				  </td>
                   </tr>
				   <tr>
				   <td class="td_right">年龄：</td>
				   <td class=""> 
				     <input type="text" name="name" class="input-text lh30" size="40">
				   </td>
				   <td class="td_right">民族：</td>
				   <td class=""> 
				     <input type="text" name="name" class="input-text lh30" size="40">
				   </td>
				     </tr>
					 <tr>
					 <td class="td_right">身份证号：</td>
					 <td class=""> 
					   <input type="text" name="name" class="input-text lh30" size="40">
					 </td>
					 <td class="td_right">联系电话：</td>
					 <td class=""> 
					   <input type="text" name="name" class="input-text lh30" size="40">
					 </td>
					   </tr>
					   <tr>
					   <td class="td_right">籍贯：</td>
					   <td class=""> 
					     <input type="text" name="name" class="input-text lh30" size="40">
					   </td>
					 <td class="td_right">学历：</td>
					 <td class=""> 
					   <input type="text" name="name" class="input-text lh30" size="40">
					 </td>
					     
						 </tr>
						 <tr>
						 <td class="td_right">单位：</td>
						 <td class="">
						  
						   <span class="fl">
						     <div class="select_border"> 
						       <div class="select_containers "> 
						       <select name="" class="select"> 
						       <option>第一党支部</option> 
						       <option>第二党支部</option> 
						       <option>第三党支部</option> 
						       <option>机关党委</option> 
						 							 
						       </select> 
						       </div> 
						     </div> 
						   </span>
						 </td>
						 <td class="td_right">职务：</td>
						 <td class="">
						  
						   <span class="fl">
						     <div class="select_border"> 
						       <div class="select_containers "> 
						       <select name="" class="select"> 
						       <option>党支部书记</option> 
						       <option>党支部副书记</option> 
						       <option>干事</option> 
						       <option>预备党员</option> 
						 							 <option>积极分子</option> 
						       </select> 
						       </div> 
						     </div> 
						   </span>
						 </td>
						    
						  </tr>
						 <tr>
						
						 <td class="td_right">上传照片：</td>
						  <td class=""><input type="file" name="file" class="input-text lh30" size="10"></td>
						  
						 
						   <td class="td_right">上传简历：</td>
						    <td class=""><input type="file" name="file" class="input-text lh30" size="10"></td>
						   
						   
						     </tr>
              
                 <tr>
                  <td class="td_right">奖惩记录：</td>
                  <td class="">
                    <textarea name="" id="" cols="30" rows="10" class="textarea"></textarea>
                  </td>
                 </tr>
                 
               <tr >
                   <td class="td_right">
                     <input type="button" name="button" id="upd" class="btn btn82 btn_save2" value="修改"> 
                   
                   </td>
				  
                 </tr>
               </table>
               </form>
			  
            </div>
          </div>
        </div>
     </div>
   </div> 
 </body>
 </html>
  