<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.csdj.branch.mapper.DzMemberMapper">
    <select id="selectUserByNameAndPwd" resultType="com.example.csdj.branch.entity.Member">
        select member_name as memName ,member_pwd as memPwd from tb_member where member_name=#{value} and member_flag=1
    </select>
    <select id="selectUserByNameAndPwdforJg" resultType="com.example.csdj.branch.entity.Member">
        select member_name as memName ,member_pwd as memPwd from tb_member where member_name=#{value} and member_flag=2
    </select>
</mapper>